* {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  color: purple;
}
#contenedor-pincipal {
  background-color: #fbd1a2;
}
.header {
  border-bottom: 0.5rem double rgb(180, 180, 180);
  background-color: #f79256;
  text-align: center;
  padding: 2% 0px 0%;
  text-decoration: none;
}
.header header h1 a {
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6rem;
}
.header header h1 a abbr {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-decoration: underline wavy #80ed99 2px;
}
.navbar {
  padding: 1.5rem 0;
  background-color: #f79256;
}

.contenedor-lista {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.contenedor-lista li {
  margin: 0 2rem;
  position: relative;
}

.contenedor-lista a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
  position: relative;
  letter-spacing: 0.5px;
}

.contenedor-lista a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #80ed99;
  transition: width 0.3s ease;
}

.contenedor-lista a:hover {
  color: #57cc99;
}

.contenedor-lista a:hover:after {
  width: 100%;
}
.footer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 0.5rem double rgb(137, 137, 137);
  display: flex;
  justify-content: center;
  background-color: beige;
}
.footer-section {
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 2% 5% 2%;
}
.footer-section h3 {
  padding-bottom: 2%;
}
.footer-section a {
  text-decoration: none;
  color: black;
}
.footer-section a:hover {
  text-decoration: underline wavy #80ed99 2px;
}
.footer-section ul {
  list-style-type: none;
}
.footer-section ul li {
  padding: 5% 0%;
}
.footer-section ul li a:hover {
  background-color: #80ed99;
}
.tabla-contenido {
  width: 100%;
  border-collapse: collapse;
}
.contenedor-info img {
  width: 100%;
  height: auto;
}
.contenido {
  margin: 20px;
}
.contenido h2 {
  text-align: center;
  margin-bottom: 20px;
}
.contenido p {
  text-align: justify;
  margin-bottom: 15px;
}
.tabla-contenido {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: #57cc9991;
}
.tabla-contenido a {
  text-decoration: none;
}
.tabla-contenido a:hover {
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
}

.tabla-contenido td {
  border: 2px solid black;
  border-radius: 5%;
  padding: 0px 2% 0px;
  vertical-align: top;
  width: 50%;
  height: 20%;
}

.tabla-contenido img {
  max-width: 100%;
  height: 50%;
  width: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.contenido {
  margin: 20px;
  flex-grow: 1;
}

.contenido h2 {
  text-align: center;
  margin-bottom: 20px;
}

.contenido p {
  text-align: justify;
  margin-bottom: 15px;
}

/*  */

@media (max-width: 768px) {
  .header header h1 a {
    font-size: 3rem;
  }

  .contenedor-lista {
    font-size: 1.5rem;
  }

  .tabla-contenido {
    display: block;
  }

  .tabla-contenido tr {
    display: flex;
    flex-direction: column;
  }

  .tabla-contenido td {
    width: 100%;
    height: auto;
    min-height: 40vh;
  }

  .tabla-contenido img {
    height: 200px;
  }
}
